.header {
  height: 64px;
  width: 100%;
  background-color: #2196F3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-logo {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  font-size: 11px;
  line-height: 16px;
}
.header-logo__match-1 {
  color: #fff;
  width: 80px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.header-logo__match-2 {
  background-color: #fff;
  color: #2196F3;
  width: 80px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.header-stop-avatar {
  display: flex;
  margin-left: auto;
}
.button-stop {
  background-color: #fff;
  width: 122px;
  height: 36px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2196F3;
  margin-right: 37px;
  text-transform: uppercase;
}
.button-registr {
  background-color: #fff;
  width: 207px;
  height: 36px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2196F3;
  margin-right: 37px;
  text-transform: uppercase;
}
.header-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 21px;
  border-radius: 50%;
  background-image: url('../../assets/avatar.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}